<!-- Navbar Component -->
<header class="site-header">
    <nav class="main-nav">
        <div class="nav-container">
            <div class="nav-menu">
                <button class="menu-icon" aria-label="Toggle Menu">
                    <span class="hamburger-line"></span>
                    <span class="hamburger-line"></span>
                    <span class="hamburger-line"></span>
                </button>
                <div class="nav-links">
                    <a href="blog.html">Blogs</a>
                    <a href="newsletter.html">Newsletter</a>
                </div>
            </div>
            <div class="logo">
                <a href="index.html">
                    <img src="logo/transparentlogo.png" alt="NY Collective Logo">
                </a>
            </div>
            <div class="nav-search">
                <div class="nav-links">
                    <a href="donate.html">Donate</a>
                    <a href="support.html">Support</a>
                </div>
                <button class="search-icon">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </nav>
</header> 